@use "bootstrap2" as *;

.attributes {
    background: get_color(primary);
    color: white;
    display: grid;
    justify-items: flex-start;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, calc(180px));

    @include x(padding, 1rem);

    @include y(padding, 0.5rem);

    gap: 1rem 0.5rem;
    > div {
        display: flex;
        align-items: center;
    }
    .material-symbols-outlined {
        margin-right: 0.5rem;
        color: #DDE;
    }
    @include media-bp-up(lg) {
        font-size: 1.3rem;
        @include x(padding, 10%);
    }
    .material-symbols-outlined {
        font-size: 36px;
    }
}