@use "common" as *;
@use "bootstrap2" as *;

.splide {
    $aspect-ratio: 1.33;
    $height: 200px;
    height: $height;
    &__slide {
        width: $height*$aspect-ratio;
        display: flex;
        img {
            width: 100%;
            height: auto;
            @include y(margin, auto);
        }
    }
    @include media-bp-up(lg) {
        $height: 300px;
        height: $height;
        &__slide {
            width: $height*$aspect-ratio;
        }
    }
}